body, html {

    padding:0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr;
    width: 100vw;
    height: 100vh;
}
.nav{
    display: grid;
    grid-auto-flow: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(220, 220, 220);
 }
.nav>ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}
.nav>ul>li>a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Tilt Neon', sans-serif;
    color: #0b0b0b;

}
.nav>h3 {
    font-size: 3em;
    text-align:  center;
    font-family: 'Tilt Neon', sans-serif;
}
.objects{
    /* border: 1px solid black; */
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-gap:1rem;
    padding: 4rem  ;
}
.card{
    display: grid;
    grid-auto-flow: row;
    height: max(200px);
    width: max(200px);
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 15px;
    text-align: center;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
}
.footer {
    padding-top: 1em;
    display:grid;
    grid-auto-flow: column;
    gap: 2em;
}

.addBookButton{
    display: grid;
    justify-content: center;
    align-items: center;
    

}
dialog{
    background-color: #F4EEEE;
    text-align: center;
    border-radius: 15px;
}
#bookForm {
    display: grid;
    padding: 1em;
    grid-auto-flow: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
 }
#bookForm>div{
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    justify-content:space-between;
}

#bookForm input[type="submit"] {
    grid-column: span 1; /* Span both columns */
    background: #FFBFBF;
    color: #0b0b0b;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

 button{ 
  background: #A8DF8E;
  color: #0d0d0d;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
#dButton{ 
    background: #b72f2f;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
#rButton{ 
    background: #ca7928;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
   
::backdrop {
    background-image: linear-gradient(
      45deg, grey
    );
    opacity: 0.75;
  }
  